<h1 class="text-2xl font-bold mb-4">Plano de Contas</h1>
<a asp-controller="PlanoConta" asp-action="Cadastrar"
    class="inline-block bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded no-underline">
    Criar item de Plano de Contas
</a>
<table class="mt-4 min-w-full bg-white border border-gray-300">
    <thead>
        <tr>
            <th class="py-2 px-4 border-b border-gray-300 text-left">ID</th>
            <th class="py-2 px-4 border-b border-gray-300 text-left">Nome</th>
            <th class="py-2 px-4 border-b border-gray-300 text-left">Tipo</th>
            <th class="py-2 px-4 border-b border-gray-300 text-left">Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in (List<PlanoContaModel>)ViewBag.ListaPlanoContas)
        {
            <tr>
                <td class="py-2 px-4 border-b border-gray-300">@item.Id</td>
                <td class="py-2 px-4 border-b border-gray-300">@item.Descricao</td>
                <td class="py-2 px-4 border-b border-gray-300">@item.Tipo</td>
                <td class="py-2 px-4 border-b border-gray-300">
                    <a class="inline-block bg-green-500 hover:bg-green-700 text-white font-bold py-1 px-2 rounded mr-2 no-underline"
                        asp-controller="PlanoConta" asp-action="Cadastrar" asp-route-id="@item.Id">Editar</a>

                    <a class="inline-block bg-red-500 hover:bg-red-700 text-white font-bold py-1 px-2 rounded no-underline"
                        asp-controller="PlanoConta" asp-action="Excluir" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>